<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ pageName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="pageName === 'Bon de Livraison'">
        <app-bon-livraison [clients]="client_list"></app-bon-livraison>
    </div>

    <div *ngIf="pageName === 'Bon de Commande'">
        <app-bon-commande></app-bon-commande>
    </div>

    <div *ngIf="pageName === 'Bon de Retour'">
        <app-bon-retour [clients]="client_list"></app-bon-retour>
    </div>

    <div *ngIf="pageName === 'Bon de Sortie'">
        <app-bon-sortie></app-bon-sortie>
    </div>

    <div *ngIf="pageName === 'Factures'">
        <app-factures></app-factures>
    </div>

    <div *ngIf="pageName === 'Nouveau Bon de Livraison'" style="width: 100%;">
        <app-create-bl></app-create-bl>
    </div>

    <div *ngIf="pageName === 'Nouveau Bon de Retour'" style="width: 100%;">
        <app-create-br></app-create-br>
    </div>

</ion-content>