.footer {
    position: fixed;
    bottom: 0%;
}

.list-item {
    font-family: Montserrat-Regular !important;
    font-size: 0.8em;
}

.table-header {
    font-family: Montserrat-MediumItalic !important;
    color: grey;
    font-size: 1em;
}

ion-input {
    font-family: Montserrat-Regular !important;
    font-size: 0.8em;
}