.main {
    padding: 150px;
    justify-content: center;
}

.table-header {
    font-family: Montserrat-MediumItalic !important;
    color: grey;
    font-size: 1em;
}

.table-content {
    font-family: Montserrat-Regular !important;
    font-size: 0.8em;
}