<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card class="home-stat-1">
        <ion-card-header>
            <ion-card-title>Clients Visités</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            5
            <br>
            <ion-icon name="people" float-right></ion-icon>
        </ion-card-content>
    </ion-card>

    <ion-card class="home-stat-2">
        <ion-card-header>
            <ion-card-title>Clients Non Visités</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            7
            <br>
            <ion-icon name="people" float-right></ion-icon>
        </ion-card-content>
    </ion-card>


    <!--ion-card class="home-stat-2">
        <ion-card-header>
            <ion-card-title>Articles Vendus</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            60
            <br>
            <ion-icon name="basket" float-right></ion-icon>
        </ion-card-content>
    </!--ion-card-->

    <ion-card class="home-stat-3">
        <ion-card-header>
            <ion-card-title>Bon de livraisons</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            12
            <br>
            <ion-icon name="receipt" float-right></ion-icon>
        </ion-card-content>
    </ion-card>

</ion-content>